.photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
button{
    padding: 5px 15px;
}